<div class="container flex-md-wrap d-flex justify-content-center">
    {{#each tag}}
    {{!-- <a href="tag/{{tag_name}}"> --}}
        <div class="tag-group ">
            <a href = "tag/{{tag_name}}">
                <div><h6 class="tag-group-name">#{{limit_tag_name}}</h4></div>
            </a>
            <div class="tag-group-img" style="background-image:url({{this.photo}});"></div>
            <div><h6 class="tag-group-count">{{count}} post/s</h4></div>
        </div>
    {{!-- </a> --}}
    
    {{/each}}
</div>